*{
    box-sizing: border-box;
}

body{
background-color:white;
margin:center;
display: flex;
justify-content: center;
align-items: flex-start;

}
.box{
    display: flex;
    border: 2px solid black;
    max-width: fit-content;
    background-color:black;
    margin: center;
    box-sizing: border-box;
    flex-direction: column;
    border-radius: 1rem;
    }
.btn{
    width: 70px;
    height: 70px;
    background: #333;
    border-radius:50%;                
    text-align: center;                 
    line-height: 60px;                 
    font-size:30px;                  
    cursor: pointer;                   
    user-select: none;
    margin:.2rem;
    color:white;
    font-family: sans-serif;
}   
.btn:hover{
    background-color:silver
}

.screen{
    background-color:black;
    color:white;
    height: 10rem;
    text-align:right;
    font-size: 3rem;
    border-radius: 1rem;
    font-size:5rem;
    padding: 2rem;
    font-family: sans-serif;
    font-weight: lighter;
 }


.buttons{
    display: flex;
    padding:1rem;
    }

.orange{
    background-color:orange;
}
.zero{
    width:155px;
    border-radius:30rem;

}
.clear{
    background-color: grey;
    color: rgb(26, 24, 24);
}
